<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xhu.mapper.AppartusMapper">
    <insert id="insert" parameterType="appartus">
        insert into appartus (appartus_no,appartus_name,appartus_price,appartus_quantity,appartus_ren)values (#{appartus_no},#{appartus_name},#{appartus_price},#{appartus_quantity},#{appartus_ren})
    </insert>
    <delete id="delete" parameterType="int">
        delete from appartus where appartus_id=#{id}
    </delete>
    <select id="getbyid" parameterType="int" resultType="appartus">
        select appartus_id,appartus_no,appartus_name,appartus_price,appartus_quantity,appartus_ren from appartus where appartus_id=#{id}
    </select>
<update id="update" parameterType="appartus">
    update appartus set appartus_no=#{appartus_no},appartus_name=#{appartus_name},appartus_price=#{appartus_price},appartus_quantity=#{appartus_quantity},appartus_ren=#{appartus_ren} where appartus_id = #{appartus_id} ;
</update>
    <select id="getall" resultType="appartus">
        select appartus_id,appartus_no,appartus_name,appartus_price,appartus_quantity,appartus_ren from appartus
    </select>
    <select id="queryByPage" parameterType="map" resultMap="page" >
        select * from appartus limit #{pageNow},#{pageSize}
    </select>
    <select id="getcount" resultType="int">
        select count(*) from appartus
    </select>

    <select id="getbyno" parameterType="string" resultType="appartus">
        SELECT *from appartus where appartus_no=#{no}
    </select>
    <select id="getbyname" parameterType="string" resultType="appartus">
        SELECT *from appartus where appartus_name=#{name}
    </select>
    <select id="getbynameandno" resultType="appartus">
        SELECT *from appartus where appartus_name=#{name} and appartus_no=#{no}
    </select>

<!--    appartus_id;-->
<!--    appartus_no;-->
<!--    appartus_name;-->
<!--    appartus_price;-->
<!--    appartus_quantity;-->
<!--    appartus_ren;-->
    <resultMap id="page" type="appartus">
        <id column="appartus_id" jdbcType="INTEGER" property="appartus_id"/>
        <result column="appartus_no" jdbcType="VARCHAR" property="appartus_no"/>
        <result column="appartus_name" jdbcType="INTEGER" property="appartus_name"/>
        <result column="appartus_price" jdbcType="INTEGER" property="appartus_price"/>
        <result column="appartus_quantity" jdbcType="VARCHAR" property="appartus_quantity"/>
        <result column="appartus_ren" jdbcType="VARCHAR" property="appartus_ren"/>
    </resultMap>
</mapper>